.listorder {
    margin-top: 1rem;
    padding-top: 1rem;
    border-color: white;
    border-bottom-color: var(--primary-500);
    border-style: solid;
    border-width: 3px;
}

.listorder :hover {
    background: #a2a2a2;
    color: aliceblue;
}

.confirm-popup {
    background-color: #fff;
    padding: 20px;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(138, 138, 138, 0.5);
    /* Màu nền mờ xung quanh */
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
}

.dropdown-menu {
    display: none;
}

@media screen and (max-width: 1024px) {
    .tab-menu {
        display: none;
    }

    .dropdown-menu {
        display: block;
    }
}