.log-in {
  position: relative;
  display: flex;
  justify-content: center;
  align-content: center;
}

.log-in .test-header {
  min-width: 222px;
  position: relative;
  text-align: center;
  grid-column-start: 1;
  grid-column-end: 3;
}

.log-in .login-form {
  width: auto;
  position: relative;
  top: 117px;
  height: 380px;
}

.login-form .text-wrapper {
  position: relative;
  color: #000000;
  font-family: "Inter-SemiBold", Helvetica;
  font-size: 40px;
  font-weight: 600;
  height: 48px;
  letter-spacing: 0;
  line-height: normal;
  text-align: center;
  white-space: nowrap;
}

.login-form .email {
  height: 67px;
  left: 0;
  position: absolute;
  top: 76px;
  width: 437px;
}

.p-inputtext.email-content {
  background-color: #ffffff;
  height: 37px;
  left: 0;
  position: absolute;
  top: 32px;
  width: 435px;
  transition: border-color 0.3s ease;
}

.p-inputtext.email-content:hover,
.p-inputtext.email-content:focus {
  border-color: #ff3333; /* Light red border color */
}

.p-inputtext.email-content:focus {
  outline: none;
  box-shadow: 0 0 0 0.2rem rgba(255, 51, 51, 0.4);
}

.log-in .text-wrapper-2 {
  color: #000000;
  font-family: "Inter-Regular", Helvetica;
  font-size: 20px;
  font-weight: 400;
  height: 24px;
  left: 2px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 0;
  white-space: nowrap;
}

.log-in .password {
  height: 101px;
  left: 0;
  position: absolute;
  top: 183px;
  width: 439px;
}

.p-password.p-inputwrapper {
  left: 0;
  position: absolute;
  top: 32px;
}

.p-inputtext.p-password-input {
  background-color: #ffffff;
  height: 37px;
  width: 435px;
}

/* Styles for when the password input wrapper component is being hovered over or focused */
.p-password.p-inputwrapper:hover,
.p-password.p-inputwrapper:focus,
.p-inputtext.p-password-input:hover,
.p-inputtext.p-password-input:focus {
  border-color: #ff3333; /* Light red border color */
  /* Additional styles for hover and focus */
}

/* Styles for when the password input wrapper component is focused */
.p-password.p-inputwrapper:focus,
.p-inputtext.p-password-input:focus {
  outline: none; /* Remove default outline */
  box-shadow: 0 0 0 0.2rem rgba(255, 51, 51, 0.4);
}

.log-in .text-wrapper-3 {
  color: #ff0000cc;
  font-family: "Inter-Regular", Helvetica;
  font-size: 12px;
  font-weight: 400;
  height: 15px;
  left: 332px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 7px;
}

.email .email-error-message {
  color: #ff0000cc;
  font-family: "Inter-Regular", Helvetica;
  font-size: 12px;
  font-weight: 400;
  height: 24px;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 77px;
  white-space: nowrap;
}

.password .password-error-message {
  color: #ff0000cc;
  font-family: "Inter-Regular", Helvetica;
  font-size: 12px;
  font-weight: 400;
  height: 15px;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 77px;
}

.login-form .login-button {
  justify-content: center;
  width: 435px;
}

.p-button.p-component {
  background-color: #ff725e;
  border-radius: 5px;
  height: 37px;
  position: relative;
  width: 255px;
  transition: background-color 0.3s ease;
}

.p-button.p-component:hover {
  background-color: #e65c4c; /* Slightly darker background color */
}

.p-button-label.p-c {
  color: #000000;
  font-family: "Inter-SemiBold", Helvetica;
  font-size: 20px;
  font-weight: 600;
  height: 24px;
  letter-spacing: 1px;
  line-height: normal;
  text-align: center;
  white-space: nowrap;
}

.log-in .log-in-image {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
