
.login-block {
    display: flex;
    flex-direction: column;
    flex: 1;
    position: relative;
    transform: translateY(5%);

}
.main-content {
    display: flex;
    flex-direction: row;
    width: 80%;
    margin-left: 10%;
}
.loginImage {
    flex: 1;
    max-width: 50%;
}
.form {
    display: flex;
    flex-direction: column;
}

@media screen and (max-width:330) {
    body {
        background-position-y: 25vw;
    }
}

@media screen and (max-width:400px) {
    .loginImage {
        max-height: 70%;
    }
}

@media screen and (max-width:468px) {
    .login-block {
        flex: 1 ;
    }
    .html {
        font-size: 11px;
    }
    /* test */
    .loginImage {
        display: none;
    }
    body {
        background-image: url("/asset/log-in-img.png");
        background-size: auto;
        background-size: 100%;
        background-repeat: no-repeat;
        backface-visibility:visible;
        background-position-y: 15vh;
    }
}

@media screen and (max-width:1300px) {
    .login-block {
        flex: 1;
    }
    .loginImage {
        flex: 2;
    }
    .html {
        font-size: 14px;
    }
    .main-content {
        width: 100%;
        margin: 0;
        display: flex;
    }
}
@media screen and (min-width:1300px) {
    .login-block {
        flex: 2 ;
    }
    .html {
        font-size: 18px;
    }
}

.card {
    margin: 2px;
    width: 50%;
}