.order-creation {
  position: relative;
  display: flex;
  justify-content: center;
  margin: auto;
}

.order-creation .p-field {
  margin-top: 16px;
}

.form-name {
  position: relative;
  color: #000000;
  font-family: "Inter-SemiBold", Helvetica;
  font-size: 40px;
  font-weight: 600;
  height: 48px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.order-creation .order-creation-form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: minmax(auto, auto);
}

.p-field .p-error {
  display: block;
}

.p-field .p-inputtext.p-component {
  display: block;
  height: 37px;
  width: 500px;
  margin-right: 32px;
}

.p-dropdown.p-component.p-inputwrapper {
  height: 37px;
  width: 500px;
  margin-right: 32px;
  align-items: center;
}

.order-creation-form .package-information {
  grid-column-start: 1;
  grid-column-end: 3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.package-information .p-field .p-inputtext.p-component {
  display: block;
  height: 37px;
  width: 800px;
}

.submit-button {
  grid-column-start: 1;
  grid-column-end: 3;
  display: flex;
  justify-content: center;
}

.submit-button Button {
  background-color: #ff725e;
  border-radius: 5px;
  height: 37px;
  position: relative;
  width: 255px;
  transition: background-color 0.3s ease;
}

.create-order-image {
  position: fixed;
  z-index: -1;
  opacity: 0.15;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 1024px) {
  .order-creation-form{
    grid-template-columns: 1fr;
  }
}
