.form-name { 
    font-size: xx-large;
    font-weight: bold;
}

.order-id, .description, .sender, .receiver, .details {
    border: 1px solid gray;
    font-weight: bold;

    text-wrap: wrap;
    overflow-wrap: anywhere;
}

ul li {
    font-weight: normal !important;
}
.qr-code {
    display: flex;
    justify-content: center;
    align-items: center;
}