/* CSS cho bảng */
.custom-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    table-layout: fixed;
  }
  
  .custom-table th, .custom-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  
  .custom-table th {
    background-color: #ee4962; /* Màu đỏ cho tiêu đề */
    color: #fff; /* Màu chữ trắng */
  }
  
  .custom-table tbody tr:nth-child(even) {
    background-color: #f2f2f2; /* Màu nền xám nhạt cho hàng chẵn */
  }
  
  .step_container {
    width: 100%;
    margin-top: 50px;
    margin-bottom: 50px;
  }

  .step_container .p-steps-number {
    background-color: red ;
  }

  .status_message_container {
    font-weight: bold;
    text-align: center;
    padding: 0 10%;
    margin-top: 20px;
    margin-left: auto auto;
  }

  @media screen and (max-width: 500px){ 
    .custom-table {
      font-size: small;
    }
    .step_container {
      width: 100%;
      margin: 20px 0 0 0;
    }
  }
 
  .step_container Steps {
    width: 100%;
  }

  .p-steps-title {
    font-size: smaller;
  }
  