.component-container {
  background-image: url("https://firebasestorage.googleapis.com/v0/b/magicpost-480e1.appspot.com/o/Artboard%201.png?alt=media&token=1fab6620-960a-4c04-badc-ae972a41cbe4&fbclid=IwAR1h7h14FdXvQSpPRVHz8KwlfVwhl6trQAjPnOlPSkcsuHTW0Z-mzg3ErOg");
    background-size: cover; /* Hiển thị bức ảnh cover toàn bộ phần tử */
    background-repeat: repeat; /* Lặp lại bức ảnh để đạt đến độ rộng màn hình */
  }

